[project]
	description = oneiric powered development environment for openstack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aaron Rosen (aaronorosen)
[access "refs/for/refs/*"]
	read = group user/Aaron Rosen (aaronorosen)
	push = group user/Aaron Rosen (aaronorosen)
	label-Code-Review = -2..+2 group user/Aaron Rosen (aaronorosen)
	label-Verified = -1..+1 group user/Aaron Rosen (aaronorosen)
	rebase = group user/Aaron Rosen (aaronorosen)
	removeReviewer = group user/Aaron Rosen (aaronorosen)
	submit = group user/Aaron Rosen (aaronorosen)
[access "refs/heads/*"]
	read = group user/Aaron Rosen (aaronorosen)
	create = group user/Aaron Rosen (aaronorosen)
	push = +force group user/Aaron Rosen (aaronorosen)
	pushMerge = group user/Aaron Rosen (aaronorosen)
[access "refs/tags/*"]
	push = +force group user/Aaron Rosen (aaronorosen)
	pushTag = group user/Aaron Rosen (aaronorosen)
	pushSignedTag = group user/Aaron Rosen (aaronorosen)
